header {
    height: 80px;
    background: #0d6efd;
    margin-bottom: 20px;
    color: #fff
}
h1 {
    line-height: 80px;
}
.offers {
    display: block;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    margin: 50px auto 0;
    font-size: 21px;
    border-collapse: collapse;
    background: #eefbff;
    font-family: Arial;
}
.offers a {
    color: #34495a;
    font-weight: 600;
    text-decoration: none;
}
.offers td {
    padding: 9px;
    min-width: 80px;
}
.offers tr:nth-child(even) {
    background: #deebff;
}
.offers th {
    background: #0d6efd;
    color: #fff;
    padding: 12px;
    text-align: left;
}
caption {
    text-align: left;
}
#search-form textarea {
    height: 120px;
}
#search-submit {
    width: 80%;
    margin-top: 29px;
}
#author {
    line-height: 80px;
}
#author a {
    text-decoration: none;
    color: #ffd9d9;
    font-weight: 600
}
.errors {
    margin-top: 10px;
}