{% extends 'base/base.html' %}
{% block content %}
<form id="search-form">
    <div class="row">
        <div class="col-sm">
            <div class="input-group">
                <span class="input-group-text">List of cards</span>
                <textarea class="form-control" ref="cards" name="cards"></textarea>
            </div>
        </div>
        <div class="col-sm">
            <button @click.prevent="getSearch()" class="btn btn-outline-primary">Search cards</button>
        </div>
    </div>
</form>
<div id="search-result" v-html="searchResult"></div>
{% endblock %}